In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('datasets/mvsd/letter-recognition.csv')

In [13]:
df.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [15]:
df[df['letter'] == 'T']

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
18,T,6,11,6,8,5,6,11,5,6,11,9,4,3,12,2,4
103,T,2,3,2,2,1,7,11,2,6,7,10,8,1,11,1,7
106,T,5,8,5,6,3,6,12,4,7,12,9,4,2,12,2,4
141,T,2,1,2,1,0,8,15,1,4,6,10,8,0,8,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19948,T,4,5,4,4,2,6,11,2,7,11,9,4,1,11,2,4
19952,T,2,9,4,7,2,7,13,0,5,7,10,8,0,8,0,8
19973,T,4,4,5,3,2,5,12,2,8,11,9,4,0,10,2,4
19994,T,5,8,7,7,7,7,9,4,8,7,7,8,3,10,8,6
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X = df.drop('letter', axis = 1)
y = df['letter']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=4)

In [19]:
from sklearn.svm import SVC

In [20]:
vm = SVC()

In [21]:
vm.fit(X_train, y_train)

SVC()

In [22]:
preds = vm.predict(X_test)

In [23]:
preds

array(['D', 'K', 'H', ..., 'L', 'G', 'P'], dtype=object)

In [28]:
from sklearn.metrics import confusion_matrix, classification_report

In [29]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           A       0.98      0.97      0.98       206
           B       0.77      0.92      0.84       173
           C       0.94      0.90      0.92       177
           D       0.84      0.93      0.88       189
           E       0.91      0.88      0.89       195
           F       0.88      0.94      0.91       174
           G       0.84      0.95      0.89       201
           H       0.88      0.75      0.81       169
           I       0.96      0.93      0.95       196
           J       0.95      0.92      0.94       191
           K       0.92      0.91      0.91       195
           L       0.99      0.90      0.95       183
           M       0.96      0.96      0.96       211
           N       0.95      0.93      0.94       196
           O       0.95      0.93      0.94       206
           P       0.99      0.88      0.93       193
           Q       0.93      0.98      0.95       204
           R       0.79      0.91      0.85       203
           S       0.94      0.92      0.93       173
           T       0.99      0.89      0.94       190
           U       0.95      0.97      0.96       219
           V       0.99      0.92      0.95       196
           W       0.95      0.94      0.95       177
           X       0.96      0.94      0.95       192
           Y       0.95      0.97      0.96       204
           Z       0.96      0.95      0.95       187

    accuracy                           0.92      5000
   macro avg       0.93      0.92      0.92      5000
weighted avg       0.93      0.92      0.92      5000

In [30]:
from sklearn.model_selection import GridSearchCV

In [37]:
param_grid = {'C': [1, 0.1], 'gamma':[1, 0.1]}

In [38]:
cv = GridSearchCV(SVC(), param_grid=param_grid, verbose = 10)

In [39]:
cv.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV] C=1, gamma=1 ....................................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ........................ C=1, gamma=1, score=0.416, total=  15.9s
[CV] C=1, gamma=1 ....................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   15.8s remaining:    0.0s

[CV] ........................ C=1, gamma=1, score=0.421, total=  14.4s
[CV] C=1, gamma=1 ....................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   30.2s remaining:    0.0s

[CV] ........................ C=1, gamma=1, score=0.439, total=  14.4s
[CV] C=1, gamma=1 ....................................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   44.6s remaining:    0.0s

[CV] ........................ C=1, gamma=1, score=0.434, total=  14.8s
[CV] C=1, gamma=1 ....................................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:   59.4s remaining:    0.0s

[CV] ........................ C=1, gamma=1, score=0.431, total=  16.0s
[CV] C=1, gamma=0.1 ..................................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  1.3min remaining:    0.0s

[CV] ...................... C=1, gamma=0.1, score=0.961, total=  10.7s
[CV] C=1, gamma=0.1 ..................................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:  1.4min remaining:    0.0s

[CV] ...................... C=1, gamma=0.1, score=0.966, total=  10.8s
[CV] C=1, gamma=0.1 ..................................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:  1.6min remaining:    0.0s

[CV] ...................... C=1, gamma=0.1, score=0.963, total=  11.9s
[CV] C=1, gamma=0.1 ..................................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:  1.8min remaining:    0.0s

[CV] ...................... C=1, gamma=0.1, score=0.971, total=   9.8s
[CV] C=1, gamma=0.1 ..................................................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:  2.0min remaining:    0.0s

[CV] ...................... C=1, gamma=0.1, score=0.974, total=  11.0s
[CV] C=0.1, gamma=1 ..................................................
[CV] ...................... C=0.1, gamma=1, score=0.045, total=  14.6s
[CV] C=0.1, gamma=1 ..................................................
[CV] ...................... C=0.1, gamma=1, score=0.045, total=  13.4s
[CV] C=0.1, gamma=1 ..................................................
[CV] ...................... C=0.1, gamma=1, score=0.043, total=  14.4s
[CV] C=0.1, gamma=1 ..................................................
[CV] ...................... C=0.1, gamma=1, score=0.044, total=  14.4s
[CV] C=0.1, gamma=1 ..................................................
[CV] ...................... C=0.1, gamma=1, score=0.046, total=  13.6s
[CV] C=0.1, gamma=0.1 ................................................
[CV] .................... C=0.1, gamma=0.1, score=0.839, total=  11.4s
[CV] C=0.1, gamma=0.1 ................................................
[CV] .................... C=0.1, gamma=0.1, score=0.842, total=  10.4s
[CV] C=0.1, gamma=0.1 ................................................
[CV] .................... C=0.1, gamma=0.1, score=0.852, total=  10.4s
[CV] C=0.1, gamma=0.1 ................................................
[CV] .................... C=0.1, gamma=0.1, score=0.852, total=  10.5s
[CV] C=0.1, gamma=0.1 ................................................
[CV] .................... C=0.1, gamma=0.1, score=0.854, total=  10.8s

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  4.2min finished

GridSearchCV(estimator=SVC(), param_grid={'C': [1, 0.1], 'gamma': [1, 0.1]},
             verbose=10)

In [40]:
cv.best_params_

{'C': 1, 'gamma': 0.1}

In [41]:
cv_preds = cv.predict(X_test)

In [42]:
print(classification_report(y_test, cv_preds))

              precision    recall  f1-score   support

           A       1.00      1.00      1.00       206
           B       0.94      0.95      0.94       173
           C       0.98      0.97      0.97       177
           D       0.93      0.98      0.95       189
           E       0.97      0.96      0.97       195
           F       0.94      0.97      0.95       174
           G       0.97      0.97      0.97       201
           H       0.90      0.90      0.90       169
           I       0.99      0.96      0.97       196
           J       0.96      0.96      0.96       191
           K       0.94      0.94      0.94       195
           L       0.99      0.97      0.98       183
           M       0.95      1.00      0.97       211
           N       0.97      0.96      0.97       196
           O       0.98      0.96      0.97       206
           P       0.97      0.95      0.96       193
           Q       0.96      0.98      0.97       204
           R       0.95      0.94      0.95       203
           S       0.99      0.99      0.99       173
           T       0.99      0.96      0.98       190
           U       0.99      1.00      0.99       219
           V       0.97      0.97      0.97       196
           W       0.98      0.98      0.98       177
           X       0.99      0.99      0.99       192
           Y       0.99      1.00      0.99       204
           Z       0.99      0.97      0.98       187

    accuracy                           0.97      5000
   macro avg       0.97      0.97      0.97      5000
weighted avg       0.97      0.97      0.97      5000

In [43]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           A       0.98      0.97      0.98       206
           B       0.77      0.92      0.84       173
           C       0.94      0.90      0.92       177
           D       0.84      0.93      0.88       189
           E       0.91      0.88      0.89       195
           F       0.88      0.94      0.91       174
           G       0.84      0.95      0.89       201
           H       0.88      0.75      0.81       169
           I       0.96      0.93      0.95       196
           J       0.95      0.92      0.94       191
           K       0.92      0.91      0.91       195
           L       0.99      0.90      0.95       183
           M       0.96      0.96      0.96       211
           N       0.95      0.93      0.94       196
           O       0.95      0.93      0.94       206
           P       0.99      0.88      0.93       193
           Q       0.93      0.98      0.95       204
           R       0.79      0.91      0.85       203
           S       0.94      0.92      0.93       173
           T       0.99      0.89      0.94       190
           U       0.95      0.97      0.96       219
           V       0.99      0.92      0.95       196
           W       0.95      0.94      0.95       177
           X       0.96      0.94      0.95       192
           Y       0.95      0.97      0.96       204
           Z       0.96      0.95      0.95       187

    accuracy                           0.92      5000
   macro avg       0.93      0.92      0.92      5000
weighted avg       0.93      0.92      0.92      5000